{% load static %}

<!DOCTYPE html>
<html lang="pt">

<head>

 {% include 'parciais/_head.html'%}
</head>

<body>
   {% include 'parciais/_nave.html'%}
   
  <div class="slider">
    
    <div class="slides">
      <!--Radio Buttons-->
      <input type="radio" name="radio-btn" id="radio1">
      <input type="radio" name="radio-btn" id="radio2">
      <input type="radio" name="radio-btn" id="radio3">
      <!--Fim Radio Buttons-->

      <!--Slide Images-->
      <div class=" slide first">
        <img src="{%static 'vendor/bootstrap/img/1.jpg' %}"alt="Images 1"/>
      </div>
      <div class=" slide">
        <img src="{%static 'vendor/bootstrap/img/2.jpg' %}"alt="Images 2"/>
      </div>
      <div class=" slide">
        <img src="{%static 'vendor/bootstrap/img/3.jpg' %}"alt="Images 3"/>
      </div>
      <!--Fim Slide Images-->

      <!--navegation auto-->
      <div class="navegation-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <!-- fim navegation auto-->
      </div>
    </div>

    <div class="manual-navegation">
      <label for="radio1" class="manual1-btn"></label>
      <label for="radio2" class="manual1-btn"></label>
      <label for="radio3" class="manual1-btn"></label>
    </div>

  </div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        {%block conteudo %}{%endblock%}

      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
